<!DOCTYPE html>
<html lang="es" xml:lang="es">

<head>
    <title>
        Formulario de registro
    </title>
</head>

    <body>
            <div id="cabecera" class="jumbotron jumbotron-fluid">
                
            </div>
            <form class="register-form">
                <h1 class="display-10">Formulario de registro</h1>
            
            <label>Username:</label>
            <input type="username" [(ngModel)]="username" name="username" placeholder="Username" required="username" />
            <br>

            <label>Password:</label>
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required="password" />
            <br>


            <label>Nombre:</label>
            <input type="nombre" [(ngModel)]="nombre" name="nombre" placeholder="Nombre" required="nombre" />
            <br>

            <label>Apellidos:</label>
            <input type="apellidos" [(ngModel)]="apellidos" name="apellidos" placeholder="Apellidos"
                required="apellidos" />
            <br>

            <label>Email:</label>
            <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="email" />
            <br>

            <label>Telefono:</label>
            <input type="telefono" [(ngModel)]="telefono" name="telefono" placeholder="Telefono" required="telefono" />
            <br>

            <label for="Rolsignup" id="roleID">Tu Rol </label>
            <div id="rol">
                <select [(ngModel)]="roleID" name="roleID">
                    <option [ngValue]="1">ADMIN</option>
                    <option [ngValue]="3">ASISTENTE</option>
                </select>
            </div>


            <div>
                Estoy de acuerdo con <a href="#">Terminos y condiciones</a>
            </div>
            <br>

            <button id="register" (click)="metodoRegistrar()"> Registrar </button>
        
            <div>
                <br>
                <a id="cuenta" href="#">¿Ya tengo cuenta?</a>
            
                <a id="login" href="login">Volver a login</a>
               
            </div>
        </form>
        
    </body>



</html>